body {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;    
}

#container{
    position:relative;
    width:990px;
    margin:auto;
}

#container #map{
    width:1000px;
    height:900px;
    margin:auto;
}
