body {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;    
}

#container{
    position:relative;
    margin:auto;
}

#container #map{
    height:650px;
    margin:auto;
}
